@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
	font-family: "Century Gothic";
	src: url(./fonts/centurygothic_bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.wrapper {
	max-width: 952px;
	display: flex;
	align-items: center;
	margin: auto;
}

header {
	height: 127px;
	width: 100vw;
	display: flex;
	justify-content: center;
	font-size: 13px;
	position: absolute;
	z-index: 2;
}

.nav_list {
	display: flex;
	padding: 0 37.5px;
	font-weight: 500;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #2e2e2e;
}

.nav_list a {
	padding: 10px;
	transition: 0.2s;
	border-radius: 6px;
}

.nav_list a:hover {
	color: white;
	background-color: #4cae4c;
}

.list__drop {
	display: inline-flex;
}

.list__drop:hover .drop__list {
	display: flex;
}

.list__drop:hover .drop_icon {
	transform: rotate(0deg);
}

.drop_icon {
	transition: 0.2s;
	display: inline-flex;
	transform: rotate(180deg);
}

.drop__list {
	transform: translate(0px, 29px);
	position: absolute;
	display: none;
	gap: 15px;
	flex-direction: column;
}

.head_acselerator {
	padding: 11.5px 20px;
	color: white;
	border-radius: 6px;
	background-color: #be252a;
}

.head_requisition {
	margin: 0 12px;
	padding: 11.5px 20px;
	color: white;
	border-radius: 6px;
	background-color: #4cae4c;
}

.list_ru {
	display: flex;
	align-items: center;
	gap: 8px;
}

#present {
	position: relative;
	height: 846px;
	overflow: hidden;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(217, 217, 217, 1) 100%
	);
}

.rounder {
	position: absolute;
	background-color: #ffffff;
	width: 120vw;
	height: 400px;
	bottom: -300px;
	left: -10%;
	border-radius: 50%;
}

.present_back {
	position: absolute;
	left: 50%;
	top: 220px;
	transform: translateX(-15%);
}

.present__text {
	width: 384px;
	margin: 247px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.present__text h1 {
	font-size: 54px;
	font-family: "Century Gothic";
	font-weight: 700;
}

.present__info {
	z-index: 2;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	background-color: white;
	padding: 32px;
	border-radius: 12px;
	gap: 48px;
	box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.15);
}

.info__el {
	display: flex;
	align-items: center;
	gap: 20px;
}
.el__text {
	display: flex;
	flex-direction: column;
}

.el__num {
	font-size: 32px;
	font-weight: 700;
}

.el_desc {
	font-size: 14px;
	white-space: nowrap;
}

.el_icon_cont {
	width: 41px;
	height: 41px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

#forwho {
	margin: 69px 0 128px 0;
}

.forwho__vertical {
	display: flex;
	flex-direction: column;
}

.forwho__head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.forwho__head a {
	background-color: #be252a;
	color: white;
	padding: 13.5px 24px;
	border-radius: 6px;
	font-size: 13px;
}

.forwho__head h2 {
	font-size: 54px;
	font-weight: 700;
	font-family: "Century Gothic";
}

.forwho__grid {
	margin: 44px 0 0 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 40px;
	grid-template-areas:
		"one one one two two two two"
		"three three three three four four four";
}

.grid__one {
	grid-area: one;
}
.grid__two {
	grid-area: two;
}
.grid__three {
	grid-area: three;
}
.grid__four {
	grid-area: four;
}

.grid__el {
	padding: 32px 32px 49px 32px;
	border: 1px solid #39693926;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 12px;
}

.grid__el img {
	width: 41px;
	height: 41px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 9px;
}

.grid__el h3 {
	font-family: "Century Gothic";
	font-size: 24px;
}

.grid__el p {
	color: #2e2e2e99;
	font-size: 14px;
}

.grid__two,
.grid__three {
	padding-right: calc(98px + 32px);
}
