@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
	font-family: "Century Gothic";
	src: url(./fonts/centurygothic_bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.wrapper {
	max-width: 952px;
	margin: auto;
	justify-content: space-between;
	width: 100%;
}

@media (max-width: 952px) {
	.wrapper {
		max-width: 90vw;
	}
}

header .wrapper {
	display: flex;
	align-items: center;
}

#present .wrapper {
	position: relative;
}

/* header start */
header {
	height: 127px;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 13px;
	position: absolute;
	z-index: 2;
}

.logo {
	z-index: 10;
}

.logo path {
	fill: #be252a;
	transition: 0.2s;
}
.logo path:nth-child(1),
.logo path:nth-child(2),
.logo path:nth-child(7),
.logo path:nth-child(8),
.logo path:nth-child(9),
.logo path:nth-child(12) {
	fill: #396939;
}

.logo:hover path {
	fill: #396939;
}

.nav_list {
	display: flex;
	padding: 0 37.5px;
	font-weight: 500;
	color: #000;
}

li {
	display: inline-block;
	cursor: default;
}

a {
	text-decoration: none;
	color: #000000;
}

h2 {
	font-size: 54px;
	font-family: "Century Gothic";
	font-weight: 700;
}

.nav_list a {
	padding: 10px;
	transition: 0.2s;
	border-radius: 6px;
}

.nav_list a:hover {
	color: white;
	background-color: #4cae4c;
}

.list__drop {
	display: inline-flex;
}

.list__drop:hover .drop__list {
	display: flex;
}

.list__drop:hover .drop_icon {
	transform: rotate(0deg);
}

.drop_icon {
	fill: #000;
	transition: 0.2s;
	display: inline-flex;
	transform: rotate(180deg);
}

.drop__list {
	transform: translate(0px, 26px);
	position: absolute;
	display: none;
	gap: 15px;
	flex-direction: column;
}

.head_acselerator {
	transition: 0.2s;
	padding: 11.5px 20px;
	color: white;
	border-radius: 6px;
	background-color: #be252a;
	border: 1px solid transparent;
}

.head_acselerator:hover,
.head_acselerator:active {
	background-color: transparent;
	border: 1px solid #be252a;
	color: #2e2e2e;
}

.head_requisition {
	transition: 0.2s;
	margin: 0 12px;
	padding: 11.5px 20px;
	color: white;
	border-radius: 6px;
	background-color: #5d925d;
	border: 1px solid transparent;
}

.head_requisition:hover,
.head_requisition:active {
	background-color: transparent;
	border: 1px solid #5d925d;
	color: #2e2e2e;
}

.list_ru {
	display: flex;
	align-items: center;
	gap: 8px;
}

.mobile_btn {
	display: none;
}

.mobile_burger {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #2fb14b;
	z-index: 5;
	right: 0;
	top: 0;
	color: white;
}

.mobile_burger a {
	color: white;
}

.mobile-menu {
	display: none;
}

.mobile_nav {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	background-color: #2fb14b;
	transition: right 0.3s ease-in-out;
	z-index: 99;
	padding: 60px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile_acsreq {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile_nav ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile_nav a {
	color: white;
	padding: 5px 10px;
	transition: 0.2s;
	font-size: 18px;
	border-radius: 5px;
	font-family: "Century Gothic";
}

.mobile_nav a:hover,
.mobile_nav a:active {
	background-color: white;
	color: #2fb14b;
	box-shadow: 0px 0px 10px 0px #ffffff;
}

.menu-toggle {
	display: none;
}

.menu-button {
	background-color: #be252a;
	border-radius: 8px;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	z-index: 100;
	transition: 0.2s;
}

.menu-toggle:checked ~ .mobile_nav {
	right: 0;
}

.menu-toggle:checked ~ .menu-button {
	transform: rotate(225deg);
}

@media (max-width: 952px) {
	.head_nav,
	.head_acselerator,
	.head_requisition,
	.lang_list {
		display: none;
	}

	.mobile_btn {
		display: flex;
		padding: 5px;
		border-radius: 6px;
		background-color: #f4f4f4;
		cursor: pointer;
	}

	header {
		height: 80px;
		position: fixed;
		background-color: #fff;
		z-index: 50;
	}

	header .wrapper {
		justify-content: space-between;
	}

	.mobile_burger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mobile_nav_list {
		display: flex;
		flex-direction: column;
	}
	.mobile-menu {
		display: block;
	}

	.mobile_acs {
		background-color: #be252a;
	}

	.mobile_acs:hover,
	.mobile_acs:active {
		color: #be252a !important;
	}

	.mobile_req {
		color: #2fb14b !important;
		background-color: white;
	}
}
/* header end */

#present {
	position: relative;
	height: 846px;
	overflow: hidden;
	background: radial-gradient(circle 420px at 63% 60%, #2fb14b, #396939);
}

.rounder {
	position: absolute;
	background-color: #ffffff;
	width: 120vw;
	height: 400px;
	bottom: -300px;
	left: -10%;
	border-radius: 50%;
}

.present_back {
	position: absolute;
	left: 55%;
	top: -100px;
	transform: translateX(-15%);
}

.present__text {
	color: white;
	width: 384px;
	margin: 247px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.present__text h1 {
	font-size: 54px;
	font-family: "Century Gothic";
	font-weight: 700;
}

.present__info {
	z-index: 2;
	position: absolute;
	bottom: calc(509px - 677px - 120px);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	background-color: white;
	padding: 32px;
	justify-content: center;
	border-radius: 12px;
	gap: 48px;
	box-shadow: 5px 5px 35px 0px rgba(0, 0, 0, 0.15);
}

.info__el {
	display: flex;
	align-items: center;
	gap: 20px;
}
.el__text {
	display: flex;
	flex-direction: column;
}

.el__num {
	font-size: 32px;
	font-weight: 700;
}

.el_desc {
	font-size: 14px;
	white-space: nowrap;
}

.el_icon_cont {
	width: 41px;
	height: 41px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

@media (max-width: 952px) {
	#present {
		height: fit-content;
	}

	.present__text h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 38px;
		word-break: break-all;
	}

	.rounder {
		display: none;
	}

	.present_back {
		display: none;
	}

	.present__text {
		width: fit-content;
		margin: 100px 0 0 0;
	}

	.present__info {
		gap: 10px;
		margin: 20px 0;
		background-color: transparent;
		width: fit-content;
		position: static;
		top: 0;
		transform: none;
		color: white;
		flex-wrap: wrap;
	}
}

@media (max-width: 470px) {
	.present__info {
		justify-content: start;
	}
}

#forwho {
	margin: 69px 0 64px 0;
}

.forwho__head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.forwho__head a {
	background-color: #be252a;
	color: white;
	padding: 13.5px 24px;
	border-radius: 6px;
	font-size: 13px;
	border: 1px solid transparent;
	transition: 0.2s;
}

.forwho__head a:hover,
.forwho__head a:active {
	background-color: transparent;
	color: #be252a;
	border: 1px solid #be252a;
}

.forwho__grid {
	margin: 44px 0 0 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 40px;
	grid-template-areas:
		"one one one two two two two"
		"three three three three four four four";
}

.grid__one {
	grid-area: one;
}
.grid__two {
	grid-area: two;
}
.grid__three {
	grid-area: three;
}
.grid__four {
	grid-area: four;
}

@media (max-width: 952px) {
	.forwho__grid {
		grid-template-columns: 1fr;
		grid-template-areas: none;
	}
	.grid__one {
		grid-area: unset;
	}
	.grid__two {
		grid-area: unset;
	}
	.grid__three {
		grid-area: unset;
	}
	.grid__four {
		grid-area: unset;
	}
	.forwho__head {
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}
}

.fw_grid__el {
	padding: 32px 32px 49px 32px;
	border: 1px solid #39693926;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 12px;
}

.fw_grid__el img {
	width: 41px;
	height: 41px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 9px;
}

.fw_grid__el h3 {
	font-family: "Century Gothic";
	font-size: 24px;
}

.fw_grid__el p {
	color: #2e2e2e99;
	font-size: 14px;
}

.grid__two,
.grid__three {
	padding-right: calc(98px + 32px);
}

@media (max-width: 952px) {
	.fw_grid__el {
		padding: 32px;
	}
}

#howItWorks {
	margin: 64px 0 60px 0;
}

.howItWorks__grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	gap: 40px;
	height: 468px;
	margin: 44px 0 0 0;
}

.hiw_grid__el {
	padding: 32px;
	border-radius: 12px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow: hidden;
}

.hiw_grid__el h3 {
	font-family: "Century Gothic";
	font-size: 28px;
	letter-spacing: -0.5px;
	z-index: 2;
}

.hiw_grid__el p {
	font-size: 14px;
	line-height: 20px;
	z-index: 2;
}

.hiw_grid__el img {
	position: absolute;
}

.hiw_grid__el a {
	margin: 12px 0 0 0;
	align-self: flex-start;
	z-index: 2;
	font-size: 13px;
	transition: 0.2s;
	padding: 10.5px 23px;
	color: white;
	border-radius: 6px;
	border: 1px solid transparent;
}

.grid__banking {
	background-color: #e9e6e8;
	grid-area: 1/1/8/4;
}

.banking__img {
	bottom: 0;
	right: 0;
}

.grid__banking a {
	background-color: #be252a;
}

.grid__banking a:hover,
.grid__banking a:active {
	background-color: transparent;
	border: 1px solid #be252a;
	color: black;
}

.grid__mission {
	background: radial-gradient(circle 150px at 75% 70%, #2fb14b, #396939);
	grid-area: 4/4/8/8;
	color: white;
}

.grid__mission p {
	width: 60%;
}

.mission__img {
	bottom: 0;
	height: 230px;
	right: 10px;
}

.grid__mission a {
	background-color: #5d925d;
}

.grid__mission a:hover,
.grid__mission a:active {
	background-color: transparent;
	border: 1px solid #5d925d;
}

.grid__fund {
	grid-area: 1/4/4/8;
	border: 1px solid #39693926;
}

.grid__fund h3 {
	width: 60%;
}

.fund__img {
	top: 20px;
	right: 20px;
	width: 87px;
	padding: 12px;
	border-radius: 8px;
	box-shadow: 0px 0px 20px 0px #0000001a;
}

@media (max-width: 952px) {
	.howItWorks__grid {
		grid-template-columns: 1fr;
		grid-template-rows: none;
		height: unset;
	}

	.hiw_grid__el {
		height: 400px;
	}

	.grid__banking {
		grid-area: unset;
	}
	.grid__mission {
		grid-area: unset;
	}
	.grid__fund {
		grid-area: unset;
		height: 250px;
	}
	.grid__fund img {
		width: 70px;
	}
}

#selection {
	margin: 60px 0 54px 0;
}

.selection__grid {
	margin: 44px 0 0 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 40px;
}

.sel_grid__el {
	position: relative;
	padding: 32px;
	border: 1px solid #39693926;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 271px;
	overflow: hidden;
}

.sel_grid__el h3 {
	font-size: 24px;
}

.sel_grid__el img {
	width: 41px;
	height: 41px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 10px;
}

.sel_grid__el span {
	transition: 0.5s;
	position: absolute;
	right: 32px;
	top: 32px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	color: white;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #be252a;
	z-index: 2;
}

.sel_grid__el a {
	background-color: #f8e9ea;
	color: #be252a;
	border-radius: 6px;
	font-size: 13px;
	padding: 10.5px 15px;
	border: 1px solid transparent;
	transition: 0.2s;
	z-index: 2;
	position: relative;
	opacity: 0;
}

@keyframes sel_a_totop {
	0% {
		top: 0px;
	}
	100% {
		top: calc(0px - 271px + 64px + 38px);
	}
}

.sel_grid__el:hover a,
.sel_grid__el:active a {
	opacity: 1;
	animation: sel_a_totop 0s linear forwards;
}

.sel_grid__el a:hover,
.sel_grid__el a:active {
	border-color: #f8e9ea;
	background-color: transparent;
	color: #f8e9ea;
}

.sel__popup {
	width: inherit;
	background: radial-gradient(circle 350px at 50% 0%, #2fb14b, #396939);
	color: white;
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	bottom: -102%;
	left: 0;
	height: 271px;
	padding: 85px 32px 5px 32px;
	display: flex;
	gap: 12px;
	flex-direction: column;
	transition: 0.3s;
	overflow: auto;
}

.sel_grid__el:hover .sel__popup,
.sel_grid__el:active .sel__popup {
	bottom: 0%;
}

.sel_bottom {
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	padding: 32px 44px;
	background: linear-gradient(265.87deg, #f7f6f6 48.83%, #e9e6e8 102.38%);
	margin: 60px 0 0 0;
}

.bottom_text {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.bottom_text h3 {
	font-family: "Century Gothic";
	font-size: 32px;
	line-height: 36px;
}

.bottom_text p {
	font-size: 14px;
}

.bottom_text a {
	margin: 12px 0 0 0;
	background-color: #be252a;
	color: white;
	padding: 13.5px 24px;
	border-radius: 6px;
	font-size: 13px;
	border: 1px solid transparent;
	transition: 0.2s;
}

.bottom_text a:hover,
.bottom_text a:active {
	background-color: transparent;
	color: #be252a;
	border: 1px solid #be252a;
}

.sel_bottom img {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
}

@media (max-width: 952px) {
	.bottom_text {
		width: 100%;
	}
	.sel_bottom img {
		display: none;
	}
}

#services {
	margin: 54px 0 60px 0;
}

.serv_grid {
	margin: 44px 0 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.serv_grid__el {
	border-radius: 20px;
	padding: 40px 32px;
	border: 1px solid #39693926;
	position: relative;
	transition: 0.2s;
	height: 320px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.serv_grid__el:hover,
.serv_grid__el:active {
	box-shadow: 0px 0px 80px 0px #0000001a;
	border: 1px solid transparent;
}

.serv_grid__el h3 {
	font-size: 36px;
}

.serv_grid__el a {
	font-size: 13px;
	border-radius: 6px;
	color: #be252a;
	background-color: #f8e9ea;
	padding: 12px 24px;
	transition: 0.2s;
}

.serv_grid__el a:hover,
.serv_grid__el a:active {
	color: white;
	background-color: #be252a;
}

.serv_grid__el p {
	margin: 20px 0 68px;
	font-size: 14px;
	color: #2e2e2e99;
}

.serv_grid__el img {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
}

@media (max-width: 952px) {
	.serv_grid {
		grid-template-columns: 1fr;
	}

	.serv_grid__el {
		width: 100%;
		word-wrap: break-word;
	}

	.serv_grid__el h3 {
		font-size: 30px;
	}
}

#ourprojects {
	margin: 60px 0;
}

.ourp__header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.ourp_h__text {
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: start;
}

.ourp_h__text h4 {
	font-size: 16px;
	font-weight: 400;
}

.ourp__header a {
	color: white;
	background-color: #be252a;
	padding: 11px 23px;
	border-radius: 6px;
	font-size: 13px;
	transition: 0.2s;
	border: 1px solid transparent;
}

.ourp__header a:hover,
.ourp__header a:active {
	background-color: transparent;
	color: #be252a;
	border: 1px solid #be252a;
}

.ourp__list {
	display: flex;
	gap: 50px;
	flex-direction: column;
	margin: 44px 0 0 0;
}

.ourp_list_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 47px;
}

.ourp_list_item img {
	border-radius: 12px;
	width: 495px;
	height: 360px;
}

.ourp_item_text {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 12px;
}

.ourp_item_text h3 {
	font-size: 36px;
	font-family: "Century Gothic";
	letter-spacing: -0.5px;
	width: 90%;
	word-wrap: break-word;
}

.ourp_item_text p {
	font-size: 17px;
	letter-spacing: -0.7px;
	line-height: 25px;
}

.ourp_item_text a {
	color: #be252a;
	background-color: #f8e9ea;
	border-radius: 6px;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 24px;
	transition: 0.2s;
	margin: 8px 0 0 0;
}

.ourp_item_text a:hover,
.ourp_item_text a:active {
	color: #fff;
	background-color: #be252a;
}

.sps_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 20px;
}

@media (max-width: 952px) {
	.ourp__header {
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}
	.ourp_list_item {
		flex-direction: column;
	}

	.ourp_list_item img {
		width: 90%;
		height: fit-content;
	}

	.sps_grid {
		grid-template-columns: 1fr 1fr;
	}

	.ourp_item_text {
		width: 100%;
	}
}

footer {
	background-color: #f4f4f4;
	padding: 51px 0;
	margin: 50px 0 0 0;
}

.level1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.level1__flex {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.level1__flex p {
	color: #2e2e2e99;
}

.level1__flex address {
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	font-family: "Century Gothic";
}

.level2,
.level4 {
	border-top: 1px solid #3c6a3a26;
	border-bottom: 1px solid #3c6a3a26;
	margin: 32px 0;
}

.level2 {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 32px 0;
	flex-wrap: wrap;
}

.lvl2__item {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.lvl2__item h3 {
	margin: 0 0 4px 0;
	font-size: 24px;
	font-family: "Century Gothic";
}

.lvl2__item a {
	color: #2e2e2ecc;
	font-weight: 600;
	font-size: 14px;
	transition: 0.2s;
	line-height: 14px;
}

.lvl2__item a:hover,
.lvl2__item a:active {
	color: #2fb14b;
}

.lvl2_item4__el {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.lvl2_item4__el p {
	font-weight: 500;
	font-size: 14px;
}

.lvl2_item4__el span {
	font-size: 14px;
	color: #2e2e2e99;
	line-height: 18px;
}

.level3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5%;
}

.level3 h2 {
	font-size: 30px;
	letter-spacing: -0.5px;
	line-height: 40px;
	width: 70%;
}

.lvl3__text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.lvl3__text p {
	font-size: 14px;
	line-height: 22px;
}

.lvl3__links {
	display: flex;
	gap: 12px;
}

.lvl3_link_item {
	border-radius: 4px;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: flex;
	gap: 8px;
	align-items: center;
	background-color: #396939;
	transition: 0.2s;
}

.lvl3_link_item a {
	color: white;
}

.lvl3_link_item svg {
	fill: white;
}
.lvl3_link_item:hover,
.lvl3_link_item:active {
	background-color: transparent;
	border: 1px solid #2fb14b;
	box-shadow: 0px 0px 5px 0px #2fb14b;
}

.lvl3_link_item:hover svg,
.lvl3_link_item:active svg,
.lvl3_link_item:hover a,
.lvl3_link_item:active a {
	fill: #396939;
	color: #396939;
}

.lvl3_link_item a {
	font-size: 13px;
	font-weight: 500;
}

.level4 {
	display: grid;
	grid-template-columns: 5fr 7fr;
	padding: 32px 0;
}

.lvl4__text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.lvl4__text h3 {
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.5px;
}

.lvl4__text p {
	font-size: 14px;
	color: #2e2e2ecc;
	line-height: 22px;
}
.lvl4__text a {
	color: #2e2e2ecc;
	text-decoration: underline;
	font-weight: 500;
	transition: 0.2s;
}

.lvl4__text a:hover,
.lvl4__text a:active {
	color: #2fb14b;
}

.level4 form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px 14px;
	grid-template-areas: "name mes" "tel mes" "email btn";
}

form input {
	height: 50px;
}

form input,
form textarea {
	padding: 0 0 0 16px;
	border: 0;
	border-radius: 6px;
	outline: none;
	transition: 0.2s;
}

form input:focus,
form textarea:focus {
	box-shadow: 0px 0px 5px 0px #2fb14b;
}

form textarea {
	padding: 22px 16px;
}

form button {
	border-radius: 6px;
	background-color: #be252a;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border: 1px solid transparent;
	transition: 0.2s;
}

form button svg {
	fill: white;
	transition: 0.2s;
}

form button:hover,
form button:active {
	border: 1px solid #be252a;
	background-color: transparent;
	color: #be252a;
}

form button:hover svg,
form button:active svg {
	fill: #be252a;
}

#name {
	grid-area: name;
}
#phone {
	grid-area: tel;
}
#email {
	grid-area: email;
}
#message {
	grid-area: mes;
}
#btn {
	grid-area: btn;
}

.level5 {
	font-size: 14px;
	line-height: 22px;
	color: #2e2e2ecc;
}

@media (max-width: 952px) {
	.level1 {
		flex-direction: column;
		gap: 10px;
		align-items: start;
	}
	.level3 {
		flex-direction: column;
		gap: 10px;
		align-items: start;
	}
	.lvl3__links {
		flex-direction: column;
		align-items: start;
	}
	.level4 {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	.level4 form {
		grid-template-columns: 1fr;
		grid-template-areas: unset;
	}

	#name {
		grid-area: unset;
	}
	#email {
		grid-area: unset;
	}
	#phone {
		grid-area: unset;
	}
	#message {
		grid-area: unset;
	}
	#btn {
		grid-area: unset;
		height: 40px;
	}
}

/* news page styles */

.news {
	padding: 127px 0 0 0;
	display: grid;
	grid-template-columns: 10fr 2fr;
	gap: 25px;
}

.news main,
#same_news {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.news h2 {
	grid-area: 1/1/2/-1;
	margin: 64px 0 22px 0;
}

.news_el {
	overflow: hidden;
	border: 1px solid #39693926;
	border-radius: 12px;
	transition: 0.2s;
	padding: 20px;
	display: flex;
	gap: 20px;
}

.news_el img {
	width: 180px;
	height: 121px;
	border-radius: 5px;
}

.news_el:hover,
.news_el:active {
	box-shadow: 0px 0px 80px 0px #0000001a;
	border: 1px solid transparent;
	transform: scale(1.01, 1.01);
}

.news_el_text {
	position: relative;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 20px;
	flex-direction: column;
}

.news_el_text a {
	color: #be252a;
	font-weight: 500;
	font-size: 13px;
	transition: 0.2s;
}

.news_el_text a:hover,
.news_el_text a:active {
	color: #85191c;
}

.news_el_text h3 {
	font-family: "Century Gothic";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.5px;
}

.news_el_text time {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 13px;
	font-weight: 500;
	color: #2e2e2e66;
}

.news_big_el {
	flex-direction: column;
	padding: 0;
}

.news_big_el h3 {
	font-size: 24px;
}

.news_big_el .news_el_text {
	padding: 20px;
}

.news_big_el img {
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.news_big_el time {
	right: 20px;
	bottom: 20px;
}

aside {
	position: relative;
}

.news_categories {
	position: sticky;
	top: 15%;
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0 0 0 16px;
	border-left: 1px solid #39693926;
}

.news_categories a {
	color: #2e2e2e;
	font-size: 12px;
	font-weight: 500;
	transition: 0.2s;
}

.news_categories a:hover,
.news_categories a:active {
	color: #be252a;
	font-size: 14px;
}

.categories__active {
	font-size: 14px;
	color: #be252a;
}

@media (max-width: 952px) {
	.news {
		padding: 40px 0 0 0;
	}
	.news_el {
		flex-direction: column;
		padding: 0;
	}

	.news_el img {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.news_el .news_el_text {
		padding: 20px;
	}

	.news_el time {
		right: 20px;
		bottom: 20px;
	}
}

@media (max-width: 500px) {
	aside {
		display: none;
	}

	.news {
		grid-template-columns: 1fr;
	}
}

/* news end */
/* news item styles */

#news_item {
	padding: 127px 0 0 0;
	width: 80%;
}

#same_news {
	width: 80%;
}

.ni_head_cont {
	margin: 68px 0 44px 0;
}

#news_item h2,
#same_news h2 {
	font-size: 32px;
	line-height: 38px;
	width: 80%;
	margin: 44px 0 24px;
}

.breadcrumb {
	display: flex;
	gap: 32px;
}

.breadcrumb li {
	font-weight: 500;
	font-size: 13px;
}

.breadcrumb a {
	color: #2e2e2e99;
	transition: 0.2s;
}

.breadcrumb a:hover,
.breadcrumb a:active {
	color: #be252a;
}

.breadcrumb a::after {
	content: url(./img/breadcrumb.svg);
	position: relative;
	left: 16px;
}

.ni_head_cont time {
	font-size: 13px;
	font-weight: 500;
	color: #2e2e2ecc;
}

.ni_text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.ni_text img {
	width: 100%;
	border-radius: 12px;
}

.ni_text p {
	line-height: 24px;
	color: #22252ecc;
}

@media (max-width: 952px) {
	#news_item {
		padding: 40px 0 0 0;
		width: 100%;
	}

	#same_news {
		width: 100%;
		gap: 30px;
	}

	#news_item h2,
	#same_news h2 {
		font-size: 24px;
		width: 100%;
		margin: 30px 0 20px 0;
	}

	.breadcrumb {
		flex-direction: column;
		gap: 10px;
	}

	.breadcrumb a::after {
		content: none;
	}
}

/* news item end */
/* edu styles */

#edu_present {
	position: relative;
	height: 846px;
	overflow: hidden;
	background-color: #f7f7f7;
}

#edu_present .present__text {
	color: #000;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 3;
	align-items: center;
}

#edu_present .present_back {
	z-index: 2;
	left: 50%;
	top: unset;
	bottom: 0;
	transform: translateX(-50%);
}

.edu_main_link {
	background-color: #396939;
	color: white;
	padding: 18px 37px;
	font-size: 13px;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: 0.2s;
}

.edu_main_link:hover,
.edu_main_link:active {
	border: 1px solid #396939;
	color: #2e2e2e;
	background-color: transparent;
}

#edu_present .present__info {
	bottom: 56px;
}

.edu_serv h3 {
	font-size: 24px;
	letter-spacing: -0.5px;
	font-family: "Century Gothic";
}

.edu_serv p {
	line-height: 20px;
}

.edu_edu .fw_grid__el {
	background-color: #f7f7f7;
	border: none;
}

.edu_edu .fw_grid__el img {
	background-color: #fff;
}

.edu_sel {
	background: radial-gradient(circle 450px at 80% 50%, #2fb14b, #396939);
	color: white;
}

.edu_sel a:hover,
.edu_sel a:active {
	color: white;
}

.edu_prog__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edu_prog__head a {
	background-color: #be252a;
	border: 1px solid transparent;
	padding: 12.5px 23px;
	color: white;
	border-radius: 6px;
	font-size: 13px;
	transition: 0.2s;
}

.edu_prog__head a:hover,
.edu_prog__head a:active {
	color: #be252a;
	border: 1px solid #be252a;
	background-color: transparent;
}

.edu_grid {
	margin: 44px 0 60px 0;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-areas:
		"fin fin fin fin bus bus bus bus bus"
		"bas bas bas bas bas target target target target";
	gap: 40px;
}

.edu_grid__el {
	border: 1px solid #39693926;
	padding: 40px 30px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	height: 471px;
	transition: 0.2s;
}

.edu_grid__el:hover,
.edu_grid__el:active {
	box-shadow: 0px 0px 20px 0px #0000001a;
	transform: scale(1.05, 1.05);
}

.edu_grid__el h3 {
	color: #2e2e2e;
	font-size: 32px;
	font-family: "Century Gothic";
	line-height: 38px;
	letter-spacing: -0.5px;
}

.edu_grid__el img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.edu_fin {
	grid-area: fin;
}

.edu_bus {
	grid-area: bus;
}

.edu_basics {
	grid-area: bas;
}

.edu_target {
	grid-area: target;
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: radial-gradient(circle 350px at 80% 50%, #2fb14b, #396939);
}

.edu_target p {
	width: 80%;
	font-size: 14px;
	line-height: 20px;
	color: #ffffffcc;
}

.edu_target:hover,
.edu_target:active {
	transform: none;
}

.edu_target h3 {
	color: white;
}

.edu__popup {
	position: absolute;
	background-color: #f4f4f4;
	top: 472px;
	left: 0;
	padding: 40px 30px;
	height: 471px;
	transition: 0.3s;
	overflow: auto;
}

.edu_grid__el:hover .edu__popup,
.edu_grid__el:active .edu__popup {
	top: 0;
}

.edu__popup h4 {
	margin: 0 0 20px 0;
	color: #396939;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.edu__popup ul {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.edu__popup li {
	margin: 0 0 0 20px;
	position: relative;
	line-height: 24px;
	color: #2e2e2ecc;
}

.edu__popup li::before {
	content: "\2B24";
	position: absolute;
	left: -20px;
	top: 5%;
	font-size: 4px;
	color: #2e2e2ecc;
}

.edu__popup p {
	line-height: 24px;
	color: #2e2e2ecc;
	margin: 0 0 12px 0;
}

@media (max-width: 952px) {
	#edu_present {
		height: fit-content;
	}

	#edu_present h1 {
		word-break: break-all;
	}

	#edu_present .present__text {
		align-items: flex-start;
		text-align: left;
	}

	#edu_present .present__info {
		color: #2e2e2e;
		align-items: start;
	}

	.serv_grid__el {
		height: fit-content;
	}

	.edu_prog__head {
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}

	.edu_grid {
		grid-template-columns: 1fr;
		grid-template-areas: none;
	}

	.edu_fin {
		grid-area: unset;
	}

	.edu_bus {
		grid-area: unset;
	}

	.edu_basics {
		grid-area: unset;
	}

	.edu_target {
		grid-area: unset;
	}
}

/* end edu */
/* start funding styles */

.fund_main_link {
	background-color: #be252a;
	color: white;
	padding: 18px 37px;
	font-size: 13px;
	border-radius: 8px;
	border: 1px solid transparent;
	transition: 0.2s;
}

.fund_main_link:hover,
.fund_main_link:active {
	border: 1px solid #be252a;
	color: #2e2e2e;
	background-color: transparent;
}

.fund__main {
	margin: 171px 0 0 0;
}

.ft_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;
	margin: 40px 0 0 0;
}

.ft_grid_el {
	border: 1px solid #39693926;
	border-radius: 12px;
	padding: 32px;
	position: relative;
	transition: 0.2s;
}

.ft_grid_el:hover,
.ft_grid_el:active {
	transform: scale(1.05, 1.05);
}

.ft_grid_el h3 {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.5px;
	font-family: "Century Gothic";
}

.ft_grid_img {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border: 1px solid #39693926;
	border-radius: 12px;
	top: 32px;
	right: 32px;
}

.ft_grid_el a {
	background-color: #be252a;
	color: white;
	font-size: 13px;
	font-weight: 500;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	padding: 10.5px 0;
	border: 1px solid transparent;
	transition: 0.2s;
}

.ft_grid_el a:active,
.ft_grid_el a:hover {
	color: #be252a;
	background-color: transparent;
	border: 1px solid #be252a;
}

.ft_text_cont {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 40px 0;
}

.ft_text_el {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.ft_text_el h5 {
	font-size: 20px;
	line-height: 24px;
}

.ft_text_el h6 {
	font-size: 14px;
	line-height: 20px;
}

.ft_text_el p {
	font-size: 12px;
	line-height: 18px;
	color: #2e2e2ecc;
}

.ft_text_p {
	min-height: 54px;
}

.ft_islam_el {
	background-color: #f5f8f5;
}

.ft_islam_img {
	background-color: white;
	border: none;
}

.ft_islam_rek {
	position: absolute;
	top: -9px;
	right: 0;
	color: white;
	padding: 8px 12px;
	border-radius: 100px 100px 0px 100px;
	background-color: #007fff;
	font-size: 10px;
	font-weight: 700;
	line-height: 10px;
}

.ft_bottom {
	background: radial-gradient(circle 450px at 80% 50%, #2fb14b, #396939);
	color: white;
}

.ft_bottom a {
	background-color: #6c916c;
}
.ft_bottom a:hover,
.ft_bottom a:active {
	color: white;
	border: 1px solid #6c916c;
}

@media (max-width: 952px) {
	.ft_grid {
		grid-template-columns: 1fr;
	}
}

#fundconditions {
	margin: 60px 0;
}

.fc_flex {
	display: flex;
	gap: 40px;
	margin: 44px 0 0 0;
}

.fc_flex_el {
	border: 1px solid #39693926;
	padding: 32px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.fc_img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	background-color: #f7f7f7;
}

.fc_text_cont {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fc_text_cont h5 {
	font-family: "Century Gothic";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.5px;
}

.fc_text_cont p {
	font-size: 14px;
	line-height: 20px;
	color: #2e2e2ecc;
}

#industries {
	margin: 60px 0 80px 0;
}

.ind_grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	gap: 40px;
	margin: 44px 0 0 0;
}

.ind_grid_el {
	border-radius: 12px;
	padding: 32px;
	position: relative;
}

.ind_grid_img {
	position: absolute;
	top: 32px;
	right: 32px;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
}

.prior_img {
	background-color: #419441;
}

.part_img {
	background-color: #eaf6ea;
}

.ind_grid_el h4 {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.5px;
	font-family: "Century Gothic";
	margin: 0 0 40px 0;
}

.ind_grid_el h3 {
	font-family: "Century Gothic";
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.5px;
}

.ind__prior {
	grid-area: 1/1/2/7;
	background-color: #3969390d;
}

.ind__part {
	grid-area: 1/7/2/10;
	background-color: #f7f7f7;
}

.ind__unsup {
	grid-area: 2/1/3/5;
	background-color: #be252a08;
}

.ind__consult {
	grid-area: 2/5/3/10;
	background: linear-gradient(305.46deg, #edecec 1.78%, #e9e6e8 99.35%);
}

.ind_prior_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 32px 0;
}

.prior_el {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

.prior_el span {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

.prior_el_img {
	width: 32px;
	height: 32px;
	background-color: white;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ind_part_cont,
.ind_unsup_cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.unsup_img {
	background-color: #e1292f;
}

.ind__consult {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.ind__consult img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.ind__consult p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #2e2e2ecc;
}

.ind__consult form {
	margin: 12px 0 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	z-index: 2;
}

#csltname {
	grid-area: 1/1/2/2;
}

#csltphone {
	grid-area: 1/2/2/3;
}

#csltmessage {
	grid-area: 2/1/3/3;
}

#csltbtn {
	grid-area: 3/1/4/2;
	height: 50px;
	margin: 12px 0 0 0;
}

@media (max-width: 952px) {
	.fund__main {
		margin: 120px 0 0 0;
	}

	.ind_grid {
		grid-template-columns: 1fr;
	}

	.ind__prior {
		grid-area: unset;
	}

	.ind_grid_el h4 {
		width: 75%;
		word-break: break-all;
	}

	.ind_prior_grid {
		grid-template-columns: 1fr 1fr;
	}

	.ind__part {
		grid-area: unset;
	}

	.ind__unsup {
		grid-area: unset;
	}

	.ind__consult {
		grid-area: unset;
	}

	.ind__consult h3 {
		font-size: 24px;
		line-height: normal;
	}

	.ind__consult form {
		grid-template-columns: 1fr;
	}

	#csltname {
		grid-area: unset;
	}

	#csltphone {
		grid-area: unset;
	}

	#csltmessage {
		grid-area: unset;
	}

	#csltbtn {
		grid-area: unset;
		height: 50px;
		margin: 12px 0 0 0;
	}

	.fc_flex {
		flex-direction: column;
	}

	.sel_bottom {
		padding: 32px;
	}

	.sel_bottom h3 {
		font-size: 24px;
	}
}

@media (max-width: 470px) {
	.ind_prior_grid {
		grid-template-columns: 1fr;
	}
}

/* end funding */
/* start contacts styles */

#contact {
	padding: 127px 0 0 0;
}

.contact_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.contact_grid_form {
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #3969390d;
}

#contact h2 {
	margin: 50px 0;
}

#contact h3 {
	font-size: 24px;
	font-family: "Century Gothic";
}

#contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

#CPname {
	grid-area: 1/1/2/3;
}

#CPphone {
	grid-area: 2/1/3/2;
}

#CPemail {
	grid-area: 2/2/3/3;
}

#CPmessage {
	grid-area: 3/1/4/3;
}

#CPbtn {
	grid-area: 4/1/5/3;
	height: 50px;
}

#contact iframe {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	border: 0;
}

.contact_info {
	grid-area: 2/1/3/3;
	background-color: #3c6a3a26;
	border-radius: 20px;
	padding: 20px;
}

.contact_info_grid {
	margin: 20px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.contact_info_grid address {
	grid-area: 1/1/2/3;
}

.contact_info_grid span {
	font-weight: 700;
}

.c_info_el {
	display: flex;
	align-items: center;
	gap: 12px;
}

.c_info_el a {
	transition: 0.2s;
}

.c_info_el a:hover,
.c_info_el a:active {
	color: #2fb14b;
}

.info_el_img {
	width: 32px;
	height: 32px;
	background-color: white;
	padding: 6px;
	border-radius: 8px;
}

.info_el_img img {
	width: 100%;
	height: 100%;
}

.info_worktime_text {
	line-height: 24px;
}

@media (max-width: 952px) {
	#contact {
		padding: 40px 0 0 0;
	}

	.contact_grid {
		grid-template-columns: 1fr;
	}
	.contact_info {
		grid-area: unset;
	}

	#contact form {
		grid-template-columns: 1fr;
	}
	#CPname {
		grid-area: unset;
	}

	#CPphone {
		grid-area: unset;
	}

	#CPemail {
		grid-area: unset;
	}

	#CPmessage {
		grid-area: unset;
	}

	.contact_map {
		height: 400px;
	}

	#CPbtn {
		grid-area: unset;
		height: 50px;
	}

	.contact_info_grid {
		grid-template-columns: 1fr;
	}

	.contact_info_grid address {
		grid-area: unset;
	}
}
